<div class="login-container">
  <div class="login-box">
    <h2>Görev Takip Giriş</h2>
    <form (ngSubmit)="girisYap()">
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="E-posta"
        required
      />
      <input
        type="password"
        [(ngModel)]="sifre"
        name="sifre"
        placeholder="Şifre"
        required
      />
      <button type="submit">Giriş Yap</button>
    </form>
    <p>
      Hesabınız yok mu?
      <a routerLink="/register">Kayıt Ol</a>
    </p>
  </div>
</div>
